<div class="row">
    <div class="col-md-6">
        <div class="container-fluid paragraph ">
            <h1>Premiere Auto</h1>
            <p class="p1">
                Welcome to Premiere Auto, your gateway to opulence in motion. Our curated selection unveils a world of
                automotive
                sophistication, where each vehicle embodies the pinnacle of luxury and performance. Indulge in the
                epitome of
                automotive craftsmanship, where every car reflects prestige and elegance in every detail. With an array
                of
                exclusive
                models, we redefine sophistication, offering a seamless blend of cutting-edge technology and timeless
                design.
                Explore our showroom to embrace a world where luxury meets unparalleled driving experience, providing
                not just
                cars,
                but an exquisite lifestyle. At Premiere Auto, find your match among our collection of exceptional
                vehicles and
                elevate your journey in unparalleled style and refinement.
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container-fluid" style="margin-top: 1.5%;">
            <img src="assets/Car Collection.jpg" width="500" height="500">
        </div>
    </div>

</div>
<footer>
    <footer class="footer-section">
        <div class="container">
            <p>&copy; 2023 premiere auto</p>
            <p>Contact: <a href="tel:+1234567890">+1 (234) 567-890</a> </p>
            <p> Email: <a href="mailto:info&#64;premiereauto.com">info&#64;premiereauto.com</a></p>
        </div>
    </footer>
</footer>