<div class="container-fluid">
    <form>
        <div class="mb-3">
            <label for="exampleInputAddress" class="form-label">Address </label>
            <input type="text" class="form-control" id="exampleInputAddress">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputtelNum" class="form-label">Telephone Number</label>
            <input type="tel" class="form-control" id="exampleInputtelNum">
        </div>
        <div id="liveAlertPlaceholder"></div>
        <a (click)="clearFormFields()" class="btn btn-primary" >Send</a>
    </form>

    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6911.930964198749!2d31.45375212607374!3d30.022717981287708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583ceffe37babf%3A0xfefdcdeca69a67ac!2sDowntown%20Mall%2C%20New%20Cairo%201%2C%20Cairo%20Governorate%204730101!5e0!3m2!1sen!2seg!4v1679364547646!5m2!1sen!2seg"
        width="800"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
    ></iframe>
</div>
<footer>
    <footer class="footer-section">
        <div class="container">
            <p>&copy; 2023 premiere auto</p>
            <p>Contact: <a href="tel:+1234567890">+1 (234) 567-890</a> </p>
            <p>Email: <a href="mailto:info&#64;premiereauto.com">info&#64;premiereauto.com</a></p>
        </div>
    </footer>
</footer>
