<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div style="margin-top: 40px; margin-left: 100px; width: 300px; height: 250px;">
                <img src="assets/BMW-320i-logo.jpg" style="width: 100%; height: 100%;">
            </div>
            <div style="display: flex; align-items: left; margin-left: 165px; margin-top: 5px;">
                <button class="btn btn-primary" (click)="toggleCollapse('collapseWidthExample1')">View Car
                    Details</button>
            </div>
            <div class="row">
                <div class="col">
                    <div [ngClass]="{'collapse': !showFirst, 'multi-collapse': true}" id="multiCollapseExample1">
                        <div class="card card-body" style="width: 500px; margin-left: 100px;">
                            <img src="assets\BMW320i.jpeg" style="width: 170px; height: 120px;">
                            <p style="font-weight: 800;">Price: 50M</p>
                            The BMW 320i sedan embodies a harmonious blend of performance and luxury. Equipped with a
                            turbocharged 2.0-liter four-cylinder engine, it delivers around 180 to 200 horsepower and
                            200 to 250 lb-ft of torque. Offering swift acceleration, with 0 to 60 mph in approximately 7
                            seconds, it strikes a balance between power and efficiency, averaging 25-30 MPG combined.
                            With options for rear-wheel or all-wheel drive.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Column (3 Cars) -->
        <div class="col-md-4">
            <!-- Second Car -->
            <div style="margin-top: 50px; margin-left: 300px; width: 300px; height: 250px;">
                <img src="assets/530i-logo.jpg" style="width: 100%; height: 100%;">
            </div>
            <div style="display: flex; align-items: left; width: 200px; margin-left:360px; margin-top: 5px;">
                <button class="btn btn-primary" (click)="toggleCollapse('collapseWidthExample3')">View Car
                    Details</button>
            </div>
            <div class="row">
                <div class="col">
                    <div [ngClass]="{'collapse': !showThird, 'multi-collapse': true}" id="multiCollapseExample3">
                        <div class="card card-body" style="width: 500px;  margin-left: 300px; ">
                            <img src="assets\530i.jpg" style="width: 170px; height: 120px;">
                            <p style="font-weight: 800;">Price: 50M</p>
                            The BMW 530i sedan embodies refined performance and luxury. Equipped with a potent
                            turbocharged 2.0-liter four-cylinder engine, it delivers approximately 248 horsepower and
                            258 lb-ft of torque, offering a robust yet efficient driving experience. Accelerating from 0
                            to 60 mph in around 6 seconds, it balances power and fuel efficiency, achieving 25-30 MPG
                            combined. It has various upscale features.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- First Car -->
    <div class="row">
        <!-- Car 1 -->
        <div class="col-md-4">
            <div style="margin-top: 50px; margin-left: 100px; width: 300px; height: 250px;">
                <img src="assets/z4-logo.png" style="width: 100%; height: 100%;">
            </div>
            <div style="display: flex; align-items: left; margin-left: 175px; margin-top: 5px;">
                <button class="btn btn-primary" (click)="toggleCollapse('collapseWidthExample4')">View Car
                    Details</button>
            </div>
            <div class="col">
                <div [ngClass]="{'collapse': !showFourth, 'multi-collapse': true}" id="multiCollapseExample4">
                    <div class="card card-body" style="width: 500px;  margin-left: 100px; ">
                        <img src="assets/z4.webp" style="width: 170px; height: 120px;">
                        <p style="font-weight: 800;">Price: 50M</p>
                        The BMW Z4 is a sporty convertible that embodies exhilarating performance and sleek design.
                        Powered by a turbocharged engine, it typically boasts 255 to 382 horsepower and 295 to 369 lb-ft
                        of torque, offering potent acceleration and dynamic driving. Accelerating from 0 to 60 mph in as
                        quick as 4.4 seconds, it combines performance with an open-air driving experience.
                    </div>
                </div>
            </div>
        </div>

        <!-- Car 2 -->
        <div class="col-md-4">
            <div style="margin-top: 50px; margin-left: 300px; width: 400px; height: 250px;">
                <img src="assets/M760Li-logo.jpg" style="width: 100%; height: 100%;">
            </div>
            <div style="display: flex; align-items: center;width: 200px; margin-left: 375px; margin-top: 5px;">
                <button class="btn btn-primary" (click)="toggleCollapse('collapseWidthExample5')">View Car
                    Details</button>
            </div>
            <div class="col">
                <div [ngClass]="{'collapse': !showFifth, 'multi-collapse': true}" id="multiCollapseExample5">
                    <div class="card card-body" style="width: 500px; margin-left: 300px;">
                        <img src="assets\760LI.jpg" style="width: 170px; height: 120px;">
                        <p style="font-weight: 800;">Price: 50M</p>
                        "The BMW 760Li epitomizes luxury and performance in the realm of premium sedans. Housing a
                        potent 6.6-liter V12 engine, it typically boasts an impressive 600 horsepower and 627 lb-ft of
                        torque, delivering exceptional power and a commanding driving experience. Accelerating from 0 to
                        60 mph in just over 3.5 seconds, it offers swift performance in a luxurious package.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Car 1 -->
        <div class="col-md-4">
            <div style="margin-top: 50px; margin-left: 100px; width: 300px; height: 250px;">
                <img src="assets/M850i-logo.jpg" style="width: 100%; height: 100%;">
            </div>
            <div style="display: flex; align-items: left; margin-left: 175px; margin-top: 5px;">
                <button class="btn btn-primary" (click)="toggleCollapse('collapseWidthExample4')">View Car
                    Details</button>
            </div>
            <div class="col">
                <div [ngClass]="{'collapse': !showFourth, 'multi-collapse': true}" id="multiCollapseExample4">
                    <div class="card card-body" style="width: 500px;  margin-left: 100px; ">
                        <img src="assets\M850i.webp" style="width: 170px; height: 120px;">
                        <p style="font-weight: 800;">Price: 50M</p>
                        The BMW M850i represents the pinnacle of performance and luxury within the coupe segment.
                        Powered by a robust twin-turbocharged 4.4-liter V8 engine, it typically delivers around 523
                        horsepower and 553 lb-ft of torque, offering exhilarating power and speed. Accelerating from 0
                        to 60 mph in approximately 3.6 seconds, it embodies impressive performance coupled with
                        luxurious comfort.
                    </div>
                </div>
            </div>
        </div>

        <!-- Car 2 -->
        <div class="col-md-4">
            <div style="margin-top: 50px; margin-left: 300px; width: 300px; height: 250px;">
                <img src="assets/X6-logo.webp" style="width: 120%; height: 100%;">
            </div>
            <div style="display: flex; align-items: center;width: 200px; margin-left: 375px; margin-top: 5px;">
                <button class="btn btn-primary" (click)="toggleCollapse('collapseWidthExample5')">View Car
                    Details</button>
            </div>
            <div class="col">
                <div [ngClass]="{'collapse': !showFifth, 'multi-collapse': true}" id="multiCollapseExample5">
                    <div class="card card-body" style="width: 500px; margin-left: 300px;">
                        <img src="assets\X6M.webp" style="width: 210px; height: 120px;">
                        <p style="font-weight: 800;">Price: 100M</p>
                        The BMW X6 M Competition stands as a high-performance Sports Activity Coupe, blending power and
                        versatility. Equipped with a robust twin-turbocharged 4.4-liter V8 engine, it typically delivers
                        around 617 horsepower and 553 lb-ft of torque, offering exhilarating acceleration and dynamic
                        driving. Accelerating from 0 to 60 mph in approximately 3.7 seconds, it boasts impressive speed
                        and agility
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <footer class="footer-section">
        <div class="container">
            <p>&copy; 2023 premiere auto</p>
            <p>Contact: <a href="tel:+1234567890">+1 (234) 567-890</a> </p>
            <p> Email: <a href="mailto:info&#64;premiereauto.com">info&#64;premiereauto.com</a></p>
        </div>
    </footer>
</footer>