<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="assets/Logo.png" width="50" height="50">

    <a class="navbar-brand">Premiere Auto</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/info">Info Page</a>
        </li>
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownCars" role="button">
            Cars
          </a>
          <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownCars">
            <li ngbDropdownItem>
              <a class="dropdown-item" routerLink="/cars/porsche">Porsche</a>
            </li>
            <li ngbDropdownItem>
              <a class="dropdown-item" routerLink="/cars/bmw">BMW</a>
            </li>
            <li ngbDropdownItem>
              <a class="dropdown-item" routerLink="/cars/mercedes">Mercedes</a>
            </li>
            <li ngbDropdownItem>
              <a class="dropdown-item" routerLink="/cars/Audi">Audi</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/purchase">Purchase</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/contactus">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>