<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div style="margin-top: 40px; margin-left: 100px; width: 300px; height: 250px;">
                <img src="assets/E63-logo.png" style="width: 100%; height: 100%;">
            </div>
            <div style="display: flex; align-items: left; margin-left: 165px; margin-top: 5px;">
                <button class="btn btn-primary" (click)="toggleCollapse('collapseWidthExample1')">View Car
                    Details</button>
            </div>
            <div class="row">
                <div class="col">
                    <div [ngClass]="{'collapse': !showFirst, 'multi-collapse': true}" id="multiCollapseExample1">
                        <div class="card card-body" style="width: 500px; margin-left: 100px;">
                            <img src="assets\E63.jpg" style="width: 200px; height: 120px;">
                            <p style="font-weight: 800;">Price: 70M</p>
                            The Mercedes-AMG E63 is a high-performance luxury sedan that embodies power and
                            sophistication. Equipped with a handcrafted AMG 4.0-liter V8 biturbo engine, it typically
                            delivers around 603 horsepower and 627 lb-ft of torque, providing exhilarating acceleration
                            and impressive dynamics. With a 0 to 60 mph acceleration in about 3.3 seconds, it showcases
                            remarkable speed and agility. Available with AMG Performance 4MATIC+ all-wheel drive, the
                            E63 ensures exceptional traction and handling.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Column (3 Cars) -->
        <div class="col-md-4">
            <!-- Second Car -->
            <div style="margin-top: 50px; margin-left: 300px; width: 300px; height: 250px;">
                <img src="assets/G63-logo.jpg" style="width: 130%; height: 100%;">
            </div>
            <div style="display: flex; align-items: left; width: 200px; margin-left:360px; margin-top: 5px;">
                <button class="btn btn-primary" (click)="toggleCollapse('collapseWidthExample3')">View Car
                    Details</button>
            </div>
            <div class="row">
                <div class="col">
                    <div [ngClass]="{'collapse': !showThird, 'multi-collapse': true}" id="multiCollapseExample3">
                        <div class="card card-body" style="width: 500px;  margin-left: 300px; ">
                            <img src="assets\g63.jpg" style="width: 100px; height: 120px;">
                            <p style="font-weight: 800;">Price: 70M</p>
                            The Mercedes-AMG G63 is an iconic and rugged luxury SUV known for its powerful performance
                            and off-road capabilities. It houses a handcrafted AMG 4.0-liter V8 biturbo engine,
                            typically delivering around 577 horsepower and 627 lb-ft of torque, providing impressive
                            acceleration and formidable power both on and off the road. With a 0 to 60 mph acceleration
                            in approximately 4.5 seconds, it showcases remarkable speed for an SUV of its size
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- First Car -->
    <div class="row">
        <!-- Car 1 -->
        <div class="col-md-4">
            <div style="margin-top: 50px; margin-left: 100px; width: 300px; height: 250px;">
                <img src="assets/C180-logo.jpg" style="width: 100%; height: 100%;">
            </div>
            <div style="display: flex; align-items: left; margin-left: 175px; margin-top: 5px;">
                <button class="btn btn-primary" (click)="toggleCollapse('collapseWidthExample4')">View Car
                    Details</button>
            </div>
            <div class="col">
                <div [ngClass]="{'collapse': !showFourth, 'multi-collapse': true}" id="multiCollapseExample4">
                    <div class="card card-body" style="width: 500px;  margin-left: 100px; ">
                        <img src="assets/C180.webp" style="width: 170px; height: 120px;">
                        <p style="font-weight: 800;">Price: 70M</p>
                        The Mercedes-Benz C180 represents a stylish and compact luxury sedan known for its comfort and
                        elegant design. Equipped with a turbocharged 1.6-liter four-cylinder engine, it typically
                        delivers around 154 horsepower, offering a balanced combination of efficiency and adequate
                        performance for city driving.
                    </div>
                </div>
            </div>
        </div>

        <!-- Car 2 -->
        <div class="col-md-4">
            <div style="margin-top: 50px; margin-left: 300px; width: 400px; height: 250px;">
                <img src="assets/GT53-logo.jpg" style="width: 100%; height: 100%;">
            </div>
            <div style="display: flex; align-items: center;width: 200px; margin-left: 375px; margin-top: 5px;">
                <button class="btn btn-primary" (click)="toggleCollapse('collapseWidthExample5')">View Car
                    Details</button>
            </div>
            <div class="col">
                <div [ngClass]="{'collapse': !showFifth, 'multi-collapse': true}" id="multiCollapseExample5">
                    <div class="card card-body" style="width: 500px; margin-left: 300px;">
                        <img src="assets\GT53.jpg" style="width: 230px; height: 120px;">
                        <p style="font-weight: 800;">Price: 70M</p>

                        The Mercedes-AMG GT 53 4-Door Coupe is a high-performance luxury sedan that combines stunning
                        design with exhilarating performance. Powered by an AMG-enhanced 3.0-liter inline-six turbo
                        engine with EQ Boost, it typically delivers around 429 horsepower and an additional 21
                        horsepower from the EQ Boost, providing impressive acceleration and dynamic driving
                        capabilities. With a 0 to 60 mph acceleration in approximately 4.4 seconds.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Car 1 -->
        <div class="col-md-4">
            <div style="margin-top: 50px; margin-left: 100px; width: 300px; height: 250px;">
                <img src="assets/B200-logo.jpg" style="width: 100%; height: 100%;">
            </div>
            <div style="display: flex; align-items: left; margin-left: 175px; margin-top: 5px;">
                <button class="btn btn-primary" (click)="toggleCollapse('collapseWidthExample4')">View Car
                    Details</button>
            </div>
            <div class="col">
                <div [ngClass]="{'collapse': !showFourth, 'multi-collapse': true}" id="multiCollapseExample4">
                    <div class="card card-body" style="width: 500px;  margin-left: 100px; ">
                        <img src="assets\B200.jpg" style="width: 170px; height: 120px;">
                        <p style="font-weight: 800;">Price: 70M</p>
                        The Mercedes-Benz B200 is a versatile and compact luxury hatchback known for its practicality
                        and comfort. Equipped with a turbocharged 1.3-liter four-cylinder engine, it typically delivers
                        around 161 horsepower, offering a good balance of fuel efficiency and adequate power for
                        everyday driving. With its compact size and responsive handling, the B200 is well-suited for
                        city commuting and urban environments.
                    </div>
                </div>
            </div>
        </div>

        <!-- Car 2 -->
        <div class="col-md-4">
            <div style="margin-top: 50px; margin-left: 300px; width: 300px; height: 250px;">
                <img src="assets/GTR-logo.jpg" style="width: 120%; height: 100%;">
            </div>
            <div style="display: flex; align-items: center;width: 200px; margin-left: 375px; margin-top: 5px;">
                <button class="btn btn-primary" (click)="toggleCollapse('collapseWidthExample5')">View Car
                    Details</button>
            </div>
            <div class="col">
                <div [ngClass]="{'collapse': !showFifth, 'multi-collapse': true}" id="multiCollapseExample5">
                    <div class="card card-body" style="width: 500px; margin-left: 300px;">
                        <img src="assets\GTR.jpg" style="width: 180px; height: 120px;">
                        <p style="font-weight: 800;">Price: 70M</p>
                        The Mercedes-AMG GT R is a high-performance sports car designed for track and road domination.
                        It's powered by a handcrafted 4.0-liter twin-turbo V8 engine, typically delivering around 577
                        horsepower and 516 lb-ft of torque, showcasing breathtaking acceleration and dynamic
                        performance. With a 0 to 60 mph time of approximately 3.5 seconds and a top speed around 198
                        mph, the GT R embodies raw power and agility.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <footer class="footer-section">
        <div class="container">
            <p>&copy; 2023 premiere auto</p>
            <p>Contact: <a href="tel:+1234567890">+1 (234) 567-890</a> </p>
            <p> Email: <a href="mailto:info&#64;premiereauto.com">info&#64;premiereauto.com</a></p>
        </div>
    </footer>
</footer>