<!--  4 cards, gowa kol card 6 anwa3 3arbiat -->
<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="assets/Porsche.png" class="card-img-top" style="height: 190px; width: 50%; align-self: center;">
            <div class="card-body">
                <h5 class="card-title">Porsche</h5>
                <p class="card-text">Porsche is a renowned German automobile manufacturer known for its high-performance
                    sports cars, SUVs, and luxury vehicles. Porsche is one of the most iconic sports cars in automotive
                    history. It is known for its distinctive design with a rear-engine layout.</p>
                <a routerLink="/cars" class="btn btn-primary">View Cars </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="assets/BMW.webp" class="card-img-top" style="height: 150px; width: 55%; align-self: center;">
            <div class="card-body">
                <h5 class="card-title">BMW</h5>
                <p class="card-text">BMW, short for Bayerische Motoren Werke AG, is a prominent German automaker founded
                    in 1916. Known for its commitment to performance and luxury, BMW produces a wide range of stylish
                    and high-performance vehicles, from sporty sedans like the BMW 3 Series to the luxury BMW 7 Series
                    and the renowned BMW M series</p>
                <a routerLink="/cars" class="btn btn-primary">View Cars</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="assets/Mercedes.png" class="card-img-top" style="height: 145px; width: 50%; align-self:center;">
            <div class="card-body">
                <h5 class="card-title">Mercedes-Benz</h5>
                <p class="card-text">Mercedes-Benz, commonly known as Mercedes, is a prestigious German automaker with a
                    storied history dating back to the invention of the first gasoline-powered car by Karl Benz in 1886.
                    Revered for its luxury, comfort, and innovative technology, Mercedes-Benz produces a wide range of
                    iconic vehicles.
                </p>
                <a routerLink="/cars" class="btn btn-primary">View Cars</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <img src="assets/Audi.png" class="card-img-top" style="height: 155  px; width: 70%; align-self:center;">
            <div class="card-body">
                <h5 class="card-title">Audi</h5>
                <p class="card-text">Audi, a distinguished German automobile manufacturer, is known for its premium and
                    innovative vehicles. Founded in 1909, Audi has built a reputation for producing luxurious cars with
                    cutting-edge technology and performance capabilities. Includes the Audi sedans, SUVs, sporty models
                    and electric.</p>
                <a routerLink="/cars" class="btn btn-primary">View Cars</a>
            </div>
        </div>
    </div>
</div>

<footer>
    <footer class="footer-section">
        <div class="container">
            <p>&copy; 2023 premiere auto</p>
            <p>Contact: <a href="tel:+1234567890">+1 (234) 567-890</a> </p>
            <p> Email: <a href="mailto:info&#64;premiereauto.com">info&#64;premiereauto.com</a></p>
        </div>
    </footer>
</footer>